<footer class="container-fluid pt-1 my-md-1 pt-md-1 border-top bg-dark">
    <nav class="col-12">
        <a class="btn btn-outline-info" href="{% url 'blog_list' %}"><span class="span">Блог</span></a>
        <a class="btn btn-outline-info" href="{% url 'contacts' %}">Контакты</a>
        <h3 class="col-12 text-right text-light" style="font-size: x-large">
            SkyStore
            <small class="d-block mb-3 text-muted text-light" style="font-size: large">&copy; 2023</small>
        </h3>
    </nav>
</footer>